// ===================
// general styles
// ===================
body {
  height: 100vh;
}
img {
    width: 100%;
}
.background-div {
  background-image: map.get($theme-colors, 'background');
}

// ===================
// classes
// ===================
.vh100 {
  height: 100vh;
}
.grow:hover {
  transform: scale(1.03);
  @include transition-ease;
}
.shrink:hover {
  transform: scale(0.97);
  @include transition-ease;
}
.shadow {
  box-shadow: -5px 5px 5px rgba(0,0,0,.2);
}

.animate {
    &.fadeIn {
        animation: fadeIn 1s;
        &.long {
            animation: fadeIn 2s;
        }
    }
    &.bounce {
        animation: 2s bounce infinite;
    }
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-7px);
  }
}