<!-- footer -->
<footer class="px-2">
    <hr class="px-2 text-primary">

      <div class="d-flex flex-column md-flex-row a-i-c j-c-spc py-1">
        <div>
          <small>Website powered by <a class="text-accent" href="https://amply.llc/">Amply</a></small>
        </div>
        <div>
          <small>&copy; 2021 Amply LLC | All Rights Reserved</small>
        </div>
      </div>
</footer><!-- footer -->