#landing {
    background-color: map.get($theme-colors, 'background');
    height: calc(100vh - 61px);

    .container {
        height: 100%;
    }

    #article-card {
        flex-direction: column;
        .description {
            display: none;
        }
        .text {
            width: 100%;
            padding: 0;
        }
    }
  
    img {
        max-height: 500px;
    }
  
    .bounce-icon {
        height: 5%;
        translate: 0 -15px;
    }
  
    .main {
      height: 95%;
    }
  
    .lntext {
      @include media-md-lg {
          width: 50%;
      }
    }
    .lnimg {
        height: 100%;

        img {
            box-shadow: -10px 10px 15px rgba(0,0,0,.5);
            border-radius: 10px;
        }

        h4 {
            display: none;
        }

        @include media-sm-md {
            width: 50%;
        }

    }
  
    #down {
        z-index: map.get($z-indexes, 'default');
    }
    @include media-lg {
        padding: 0 3rem 0 3rem;
    }
  }

#latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

