.button {
  padding: 0rem 1rem;
  box-shadow: -5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;

  &.default {
      padding: .5rem 1.5rem;
  }
  &.double {
      padding: .5rem 3rem;
  }
  &.full {
      width: 100%;
  }
  &.half {
      width: 50%;
  }   
  &.rounded {
      border-radius: 5px;
  }
  &.round {
      border-radius: 50px;
  }
  &.primary {
      background: map.get($theme-colors, "primary");
      color: map.get($theme-colors, "white");

      &.border {
        border: 3px solid map.get($theme-colors, "primary");
      }

      &:hover {
        color: map.get($theme-colors, "foreground");
        @include shrink;
        @include transition-ease;
      }
  }
  &.secondary {
      background: map.get($theme-colors, "secondary");
      color: map.get($theme-colors, "white");

      &.border {
        border: 3px solid map.get($theme-colors, "secondary");
      }

      &.outline {
        background: none;
      }

      &:hover {
        color: map.get($theme-colors, "accent");
        @include shrink;
        @include transition-ease;
      }
  }
  &.accent {
      background: map.get($theme-colors, "accent");
      color: map.get($theme-colors, "black");

      &.border {
        border: 3px solid map.get($theme-colors, "accent");
      }

      &:hover {
        color: map.get($theme-colors, "white");
        @include shrink;
        @include transition-ease;
      }
  }
  &.black {
      background: map.get($theme-colors, "black");
      color: map.get($theme-colors, "white");
  }
}
.underline {
  &:hover {
    text-decoration: underline;
  }
}